In [1]:
"""
This is a multiline comment
Author: Patrick Houlihan
Project: Lecture 
"""

'\nAuthor: Patrick Houlihan\nProject: Lecture \n'

In [2]:
#This is a single line comment

In [10]:
my_var_int = 1
my_var_string = "patrick houlihan"
my_var_boolean = True #False
my_var_float = 3.14

In [7]:
print (my_var_string)

patrick houlihan

In [8]:
my_var_int = 20

In [9]:
print (my_var_int)

20

In [12]:
print (type(my_var_float))

<class 'float'>

In [17]:
my_int_str = "1234"
print (type(my_int_str))

<class 'str'>

In [18]:
my_int_str_conv = int(my_int_str)
print (type(my_int_str_conv))

<class 'int'>

In [21]:
my_string = "Patrick" + " " + "Houlihan"

In [22]:
print (my_string)

Patrick Houlihan

In [23]:
print (my_string*2)

Patrick HoulihanPatrick Houlihan

In [25]:
#data structure type list
my_list = []
#my_list = list()
print (type(my_list))

<class 'list'>

In [26]:
print (my_list)

[]

In [27]:
my_list.append("patrick")

In [29]:
my_list.append("patrick")

In [31]:
my_list.append("jen")

In [32]:
print (my_list)

['patrick', 'patrick', 'jen']

In [33]:
my_list[2]

'jen'

In [34]:
print (len(my_list))

3

In [35]:
#reverse a list
print (my_list[::-1])

['jen', 'patrick', 'patrick']

In [36]:
print (my_list[0:2])

['patrick', 'patrick']

In [47]:
my_list_a = [1,2,3]
my_list_b = [21,31,41]

In [38]:
my_list_a_copy = my_list_a
print (my_list_a_copy)

[1, 2, 3]

In [39]:
my_list_a.append(4)
print (my_list_a)

[1, 2, 3, 4]

In [40]:
print (my_list_a_copy)

[1, 2, 3, 4]

In [41]:
my_list_a_copy = my_list_a.copy()
print (my_list_a_copy)

[1, 2, 3, 4]

In [42]:
my_list_a.append(123)
print (my_list_a)

[1, 2, 3, 4, 123]

In [43]:
print (my_list_a_copy)

[1, 2, 3, 4]

In [45]:
print (my_list_b)

[21, 31, 41]

In [48]:
#flatten two arrays together, use EXTEND NOT append
my_list_a.extend(my_list_b)
print (my_list_a)

[1, 2, 3, 21, 31, 41]

In [85]:
my_ex_str = "the cat ran up the hill"
#tokenize the text above
tokenize_text = my_ex_str.split(" ,")
print (tokenize_text)

['the cat ran up the hill']

In [57]:
my_ex_str_comma = "the cat ran up the hill"

my_ar = my_ex_str_comma.split()

print (my_ar)

['the', 'cat', 'ran', 'up', 'the', 'hill']

In [60]:
#join text together
my_join = ' '.join(my_ar)
print (my_join)

the cat ran up the hill

In [61]:
#set
#my_set = {}
my_set = set()
my_set.add("patrick")
print (my_set)

{'patrick'}

In [63]:
#python IS case sensitive
my_set.add("Patrick")
print (my_set)

{'patrick', 'Patrick'}

In [67]:
my_set_a = {"fishing", "soccer", "20-24", "audi"}
my_set_b = {"hunting", "soccer", "65+", "volvo"}

In [69]:
print (my_set_b)

{'soccer', 'volvo', '65+', 'hunting'}

In [70]:
#intersection
my_intersection = my_set_a.intersection(my_set_b)
print (my_intersection)

{'soccer'}

In [71]:
my_union = my_set_a.union(my_set_b)
print (my_union)

{'audi', '65+', 'volvo', 'hunting', 'soccer', '20-24', 'fishing'}

In [73]:
#difference
print (my_set_b.difference(my_set_a))

{'volvo', '65+', 'hunting'}

In [75]:
#symmetric difference
print (my_set_a.symmetric_difference(my_set_b))

{'fishing', '65+', 'audi', 'volvo', '20-24', 'hunting'}

In [76]:
my_list_conv = [1,1,4,5,6,7,10,10]
print (my_list_conv)

[1, 1, 4, 5, 6, 7, 10, 10]

In [77]:
my_list_conv_set = set(my_list_conv)
print (my_list_conv_set)

{1, 4, 5, 6, 7, 10}

In [80]:
my_str_ex = "The CAT chase the Dog up the hill"
print (my_str_ex.lower())

the cat chase the dog up the hill

In [86]:
a = [1,1,2,3]
b = set(a)
print (b)

{1, 2, 3}

In [87]:
a.append(32443)
print (b)

{1, 2, 3}